/* src/components/Navigation.css */
.navigation {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #000;
  color: #fff;
}

.navigation .logo {
  font-size: 1.5rem;
}

.navigation ul {
  display: flex;
  list-style: none;
}

.navigation ul li {
  margin-left: 20px;
}

.navigation ul li a {
  color: #fff;
  text-decoration: none;
}
