/* src/components/Navigation.css */
.navigation {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  padding-left: 165px;
  padding-right: 165px;
  background-color: #020617;
  color: #fff;
  font-family: 'Lemon', sans-serif; /* Apply Lemon font */
}

.navigation .logo {
  width: 150px; /* Adjust as needed */
  height: auto;
}

.navigation ul {
  display: flex;
  list-style: none;
}

.navigation ul li {
  margin-left: 15px;
}

.navigation ul li a {
  color: #fff;
  text-decoration: none;
}
