@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap'); /* Import Lemon font */

.home-section {
  display: flex;
  padding-top: 100px;
  padding-bottom: 30px;
  padding-left: 165px;
  padding-right: 165px;
  background-color: #111827;
  color: #fff;
  font-family: 'Lemon', sans-serif; /* Apply Lemon font */
}

.home-content {
  flex: 1;
  padding-right: 20px;
}

.animated-text {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

.animated-text.visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.home-content h2 {
  font-size: 1.2rem;
  color: #e67e22;
}
.home-content h2 span {
  color: #fff;
}

.home-content h1 {
  font-size: 2.5rem;
  margin-top: 0;
}

.home-content h1 span {
  color: #e67e22;
}

.home-content p {
  margin: 20px 0;
  color: #6B7280;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 700;
}

.contact-button {
  font-family: 'Lemon', sans-serif; /* Apply Lemon font */
  padding: 10px 20px;
  background-color: #e67e22;
  border: none;
  color: #111827;
  cursor: pointer;
  border-radius: 8px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 700;
}

.contact-button.visible {
  opacity: 1;
  transform: translateY(0);
}

.home-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.home-image img {
  width: 400px; /* Maintain the original size */
  border-radius: 8px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

.HomeImg.visible {
  opacity: 1;
  transform: translateY(0);
}
